<ng2-slide>
  <h2>Agenda</h2>
  <ul>
    <li>Even voorstellen</li>
    <li>Doel training</li>
    <li>TypeScript vs JavaScript</li>
    <li>Oefeningen JavaScript & TypeScript</li>
    <li>Introductie Angular 2</li>
    <li>Oefeningen Angular 2</li>
  </ul>
</ng2-slide>
<ng2-slide>
    <h2>Doel training</h2>
    <img src="./assets/angular2intro.png">
</ng2-slide>
<ng2-slide>
  <h2>JavaScript vs TypeScript</h2>
  <img src="./assets/typescript.png" width="50%">
</ng2-slide>
<ng2-slide>
    <h2>ECMAScript</h2>
    <img src="./assets/ecmascript.jpg">
</ng2-slide>
<ng2-slide>
  <h2>TypeScript</h2>
  <my-quote>TypeScript is a typed superset of JavaScript that compiles to JavaScript</my-quote>
</ng2-slide>
<ng2-slide>
  <h2>TypeScript features</h2>
  <ul>
    <li>Static typing -> writing safer code</li>
    <li>Classes, Inheritance & Interfaces</li>
    <li>Tooling: Identifying errors at development time<li>
    <li>Use state of the art & future ECMAScript features today</li>
    <li>Compile/transpile to ES6/ES5</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Learn TypeScript? Learn ES6!</h2>
  <ul>
    <li>Let and Const</li>    
    <li>Arrow functions</li>
    <li>Destructuring</li>
    <li>Template literals</li>
    <li>Spread operator</li>
    <li>Rest parameters</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions</h2>
  <div class="sidebyside">
    <img src='./assets/arrowfunces5.jpg'>
    <img src='./assets/arrowfunces6.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions</h2>
  <div class="sidebyside">
    <img src='./assets/arrow-noparams-es5.jpg'>
    <img src='./assets/arrow-noparams-es6.jpg'>
  </div>
</ng2-slide>
` // <-- use the ng2-slide component as many times as you'd like