<ng2-slide>
  <h2>Agenda</h2>
  <ul>
    <li>Even voorstellen</li>
    <li>Doel training</li>
    <li>TypeScript vs JavaScript</li>
    <li>Oefeningen JavaScript & TypeScript</li>
    <li>Introductie Angular 2</li>
    <li>Oefeningen Angular 2</li>
  </ul>
</ng2-slide>
<ng2-slide>
    <h2>Doel training</h2>
    <img src="./assets/angular2intro.png">
</ng2-slide>
<ng2-slide>
  <h2>JavaScript vs TypeScript</h2>
  <img src="./assets/typescript.png" style="max-width:500px;">
</ng2-slide>
<ng2-slide>
    <h2>ECMAScript</h2>
    <img src="./assets/ecmascript.jpg">
</ng2-slide>
<ng2-slide>
  <h2>TypeScript</h2>
  <my-quote>TypeScript is a typed superset of JavaScript that compiles to JavaScript</my-quote>
</ng2-slide>
<ng2-slide>
  <h2>TypeScript features</h2>
  <ul>
    <li>Static typing -> writing safer code</li>
    <li>Classes, Inheritance & Interfaces</li>
    <li>Tooling: Identifying errors at development time<li>
    <li>Use state of the art & future ECMAScript features today</li>
    <li>Compile/transpile to ES6/ES5</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Learn Angular 2 & TypeScript? Learn JavaScript/ES6 first!</h2>
  <ul>
    <li>Let and Const</li>    
    <li>Arrow functions</li>
    <li>Destructuring</li>
    <li>Template literals</li>
    <li>Rest & Spread operators</li>
    <li>Default parameters</li>
    <li>Classes</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Let and Const</h2>
  <img src='./assets/const.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - return value</h2>
  <div class="sidebyside">
    <img src='./assets/arrowfunces5.jpg'>
    <img src='./assets/arrowfunces6.jpg'>
  </div>
  <h2>Arrow functions - no return / no parameters</h2>
  <div class="sidebyside">
    <img src='./assets/arrow-noparams-es5.jpg'>
    <img src='./assets/arrow-noparams-es6.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - lexical this</h2>
  <img src='./assets/arrow-know-when-to-use.jpg'>  
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - summary</h2>    
  <ul>
    <li>'Sugar' syntax -> less code</li>
    <li>Implicit versus Explicit return</li>
    <li>Always anonymous<li>
    <li>No own 'this', 'this' referes to outer scope</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Destructuring</h2>
  <my-quote>Allows us to easily extract data from arrays, objects, maps and sets into their own variable</my-quote>
  <div class="sidebyside">
    <img src='./assets/destruct1.jpg'>
    <img src='./assets/destruct2.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Template literals</h2>
  <div class="topbottom">
    <img src="./assets/template-lit1.jpg">
    <img src="./assets/template-lit2.jpg">
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Rest operator</h2>
  <my-quote>Represent an indefinite number of arguments as an array</my-quote>
  <img src='./assets/rest.jpg'>
  <br><br><br>
  <h2>Spread operator</h2>
  <my-quote>Expand an expression or array to multiple arguments</my-quote>
  <img src='./assets/spread.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Default parameters</h2>
  <img src="./assets/defaultparamvalues.jpg">
</ng2-slide>