<ng2-slide>
  <h2>Agenda</h2>
  <ul>
    <li>Even voorstellen</li>
    <li>Doel training</li>
    <li>TypeScript vs JavaScript</li>
    <li>Oefeningen JavaScript & TypeScript</li>
    <li>Introductie Angular 2</li>
    <li>Oefeningen Angular 2</li>
  </ul>
</ng2-slide>
<ng2-slide>
    <h2>Doel training</h2>
    <img src="./assets/angular2intro.png">
</ng2-slide>
<ng2-slide>
  <h2>JavaScript vs TypeScript</h2>
  <img src="./assets/typescript.png" style="max-width:500px;">
</ng2-slide>
<ng2-slide>
    <h2>ECMAScript</h2>
    <img src="./assets/ecmascript.jpg">
</ng2-slide>
<ng2-slide>
  <h2>TypeScript</h2>
  <br><br><br><br><br><br><br><br><br>  
  <my-quote>TypeScript is a typed superset of JavaScript that compiles to JavaScript</my-quote>
</ng2-slide>
<ng2-slide>
  <h2>TypeScript features</h2>
  <ul>
    <li>Static typing -> writing safer code</li>
    <li>Classes, Inheritance & Interfaces</li>
    <li>Tooling: Identifying errors at development time<li>
    <li>Use state of the art & future ECMAScript features today</li>
    <li>Syntax Similarity to Our Backend Languages (Java, Scala)</li>
    <li>Compile/transpile to ES6/ES5</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Learn Angular 2 & TypeScript? Learn JavaScript/ES6 first!</h2>
  <ul>
    <li>Let and Const</li>    
    <li>Arrow functions</li>
    <li>Destructuring</li>
    <li>Template literals</li>
    <li>Rest & Spread operators</li>
    <li>Default parameters</li>
    <li>Classes</li>
    <li>Modules</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Let and Const</h2>
  <img src='./assets/const.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Oefeningen let and Const</h2>
  <p>http://tinyurl.com/jt6okyo</p>
  <p>http://tinyurl.com/gpctltn</p>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - return value</h2>
  <div class="sidebyside">
    <img src='./assets/arrowfunces5.jpg'>
    <img src='./assets/arrowfunces6.jpg'>
  </div>
  <h2>Arrow functions - no return / no parameters</h2>
  <div class="sidebyside">
    <img src='./assets/arrow-noparams-es5.jpg'>
    <img src='./assets/arrow-noparams-es6.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Oefening Arrow functions 1</h2>
  <p>http://tinyurl.com/z3pnpm7</p>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - lexical this</h2>
  <img src='./assets/arrow-know-when-to-use.jpg'>  
</ng2-slide>
<ng2-slide>
  <h2>Oefening Arrow functions 2</h2>
  <p>http://tinyurl.com/he583ft</p>
</ng2-slide>
<ng2-slide>
  <h2>Arrow functions - summary</h2>    
  <ul>
    <li>'Sugar' syntax -> less code</li>
    <li>Implicit versus Explicit return</li>
    <li>Always anonymous<li>
    <li>No own 'this', 'this' referes to outer scope</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Destructuring</h2>
  <my-quote>Allows us to easily extract data from arrays, objects, maps and sets into their own variable</my-quote>
  <div class="sidebyside">
    <img src='./assets/destruct1.jpg'>
    <img src='./assets/destruct2.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Oefening Destructuring</h2>
  <p>http://tinyurl.com/znv9lc9</p>
</ng2-slide>
<ng2-slide>
  <h2>Template literals</h2>
  <div class="topbottom">
    <img src="./assets/template-lit1.jpg">
    <img src="./assets/template-lit2.jpg">
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Oefening Template literals</h2>
  <p>http://tinyurl.com/z9dn7d8</p>
</ng2-slide>
<ng2-slide>
  <h2>Rest operator</h2>
  <my-quote>Represent an indefinite number of arguments as an array</my-quote>
  <img src='./assets/rest.jpg'>
  <br><br><br>
  <h2>Spread operator</h2>
  <my-quote>Expand an array to multiple arguments</my-quote>
  <img src='./assets/spread.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Oefening Rest & Spread</h2>
  <p>http://tinyurl.com/h6nt5bw</p>
</ng2-slide>
<ng2-slide>
  <h2>Default parameters</h2>
  <div class="sidebyside">
    <img src='./assets/defaultparamvalues.jpg'>
    <img src='./assets/defaultparamvalues2.jpg'>
  </div>
</ng2-slide>
<ng2-slide>
  <h2>Oefening default parameters</h2>
  <p>http://tinyurl.com/jd55n9h</p>
</ng2-slide>
<ng2-slide>
  <h2>Classes</h2>
  <my-quote>ES6 classes are syntactical sugar over the Objects and prototypes that we’re used to working with.</my-quote>
  <img src='./assets/classes.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Oefening classes</h2>
  <p>http://tinyurl.com/zbzmmjd</p>
</ng2-slide>
<ng2-slide>
  <h2>Modules</h2>
  <my-quote>Maakt exporteren van values & functies mogelijk zonder global namespace te vervuilen</my-quote>
  <img src="./assets/modules.jpg">
</ng2-slide>
<ng2-slide>
  <h2>Oefening modules</h2>
  <p>http://tinyurl.com/jltscgu</p>
</ng2-slide>
<ng2-slide>
  <h2>TypeScript features</h2>
  <ul>
    <li>Static typing -> writing safer code</li>
    <li>Classes, Inheritance & Interfaces</li>
    <li>Tooling: Identifying errors at development time<li>
    <li>Use state of the art & future ECMAScript features today</li>
    <li>Syntax Similarity to Our Backend Languages (Java, Scala)</li>
    <li>Compile/transpile to ES6/ES5</li>
  </ul>
</ng2-slide>
<ng2-slide>
  <h2>Example TypeScript features</h2>
  <img src="./assets/typescript1.jpg">
</ng2-slide>
<ng2-slide>
  <h2>TypeScript oefeningen</h2>
  <br><br><br><br><br><br><br><br><br>
  <my-quote>Again, knowledge is of no value unless you put it into practice</my-quote>
</ng2-slide>
<ng2-slide>
  <h2>Static typing</h2>
  <p>http://tinyurl.com/jxfuh37</p>
</ng2-slide>
<ng2-slide>
  <h2>Type assertion</h2>
  <p>http://tinyurl.com/job9mfn</p>
</ng2-slide>
<ng2-slide>
  <h2>Enums</h2>
  <p>http://tinyurl.com/hm7mp8m</p>
</ng2-slide>
<ng2-slide>
  <h2>Classes</h2>
  <p>http://tinyurl.com/gswsya8</p>
</ng2-slide>
<ng2-slide>
  <h2>Inheritance</h2>
  <p>http://tinyurl.com/hhjglbm</p>
</ng2-slide>
<ng2-slide>
  <h2>Interfaces</h2>
  <p>http://tinyurl.com/zepwepr</p>
</ng2-slide>
<ng2-slide>
  <h2>Generics</h2>
  <p>http://tinyurl.com/hxobjxk</p>
</ng2-slide>
<ng2-slide>
  <h2>Modules</h2>
  <p>http://tinyurl.com/jptbnpn</p>
</ng2-slide>
<ng2-slide>
  <h2>Finally! Let's begin with Angular 2</h2>
  <img src='./assets/angular2.jpg'>
</ng2-slide>
<ng2-slide>
  <h2>Angular 2 concepts</h2>
  <img src="./assets/angular2concepts.jpeg">
</ng2-slide>
<ng2-slide>
  <h2>Let's build an Angular 2 app</h2>
  <img src="./assets/angular2-app.png">
</ng2-slide>
<ng2-slide>
  <h2>Angular 2 components</h2>
  <my-quote>Every Angular 2 application will have a component tree</my-quote>
  <img src="./assets/componenttree.png">
</ng2-slide>
<ng2-slide>
  <h2>Component structure</h2>
  <my-quote>A component has a template, which describes how the component is rendered on the page.</my-quote>
  <div class="sidebyside">
    <img src="./assets/talkts.jpg">
    <img src="./assets/talkhtml.jpg">
  </div>
  <h2>Example usage of component</h2>
  <img src="./assets/inputoutputapi.jpg">
</ng2-slide>
<ng2-slide>
  <h2>Input & Output properties</h2>
  <my-quote>A component has input and output properties, which can be defined in the component decorator or using property decorators.</my-quote>
  <img src="./assets/talkts2.jpg">
</ng2-slide>
<ng2-slide>
  <h2>Input & Output properties</h2>
  <my-quote>Data flows into a component via input properties. Data flows out of a component via output properties.</my-quote>
  <img src="./assets/inputoutput.png">
</ng2-slide>
<ng2-slide>
  <h2>Input & Output properties</h2>
  <my-quote>Input and output properties are the public API of a component. You use them when you instantiate a component in your application.</my-quote>
  <img src="./assets/inputoutputapi.jpg">
  <my-quote>You can set input properties using property bindings, through square brackets. You can subscribe to output properties using event bindings, through parenthesis</my-quote>
</ng2-slide>
<ng2-slide>
  <h2>Lifecycle</h2>
  <my-quote>Components have a well-defined lifecycle, which you can tap into.</my-quote>
  <img src="./assets/lifecycle.jpg">
</ng2-slide>
<ng2-slide>
  <h2>Providers</h2>
  <my-quote>A component can contain a list of providers the component and its children may inject.</my-quote>
  <img src="./assets/providers.jpg">
</ng2-slide>
<ng2-slide>

<ng2-slide>
  <h2>Components summary</h2>
  <ul>
    <li>They have well-defined inputs and outputs.</li>
    <li>They have well-defined lifecycle.</li>
    <li>They are self-describing.</li>
  </ul>
  <br><br><br>
  <h2>Describing because:</h2>
  <ul>
    <li>A component can be turned to a DOM element</li>
    <li>A component knows how to render itself.</li>
    <li>A component configures dependency injection.</li>
    <li>A component has a well-defined public API of input and output properties.</li>
  </ul>
</ng2-slide>